/* Global */

body {
  margin: 0px;
  padding: 0px;
  /*background-color: #fcfcfc;*/
  font-family: 'Source Code Pro', monospace, 'Open Sans', sans-serif, 'Hiragino Sans GB', '冬青黑体', STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑';
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', monospace, 'Open Sans', sans-serif, 'Hiragino Sans GB', '冬青黑体', STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑';
  line-height: 1.1;
}

h1 {
  font-weight: bold;
  font-size: 22pt;
}

h2 {
  font-weight: bold;
  font-size: 20pt;
}

h3 {
  font-weight: bold;
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

a {
  text-decoration: none;
}

a img:hover {
  opacity: 0.85;
}

article {
  font-size: 13pt;
  padding-top: 0;
}

abbr[title] {
  text-decoration: underline;
}

::selection {
  color: white;
  background: #81C784;
}

::-moz-selection {
  color: white;
  background: #81C784;
}



/* Classes */

.col-main {
  margin: auto;
  width: 100%;
  /*max-width: 900px;*/
  max-width: 1100px;
}

.adjust-width {
  margin: 0 -16px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 13pt;
}

.caption {
  text-align: center;
  font-size: 10pt;
  font-style: italic;
  color: grey;
  margin-bottom: 30px;
}

.headerimage-article {
  margin: auto;
  max-width: 1100px;
}

.headerimage-card {
  margin: 0 -16px;
}

.headerimage-card > img {
  max-width: 100%;
}

ul.social {
  white-space: nowrap;
}

ul.social li {
  display: inline-block;
  padding: 0 15px;
  font-size: 20pt;
}

ul.social li a:hover {
  opacity: 0.7;
}



/* Ids */

#header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1100px;
}

#header-logo {
  width: 60px;
  min-width: 60px; /* no resizing! */
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*background-color: black;*/
  color: white;
  font-size: 20pt;
  font-weight: bold;
}

#header-logo:hover {
  opacity: 0.85;
}

#header-menu {
  font-size: 14pt;
  text-align: right;
}

#header-menu ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

#header-menu ul li {
  /*text-transform: uppercase;*/
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  white-space:nowrap;
}

#intro {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}

#intro-description {
  font-family: 'Source Code Pro', monospace, 'Open Sans', sans-serif, 'Hiragino Sans GB', '冬青黑体', STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑';
  font-style: italic;
  font-size: 11pt;
}

#intro img.avatar {
  width: 150px;
  max-width: 60%;
  margin: 0 50px;
  vertical-align: middle;
}

#footer {
  width: 100%;
  height: auto;
  font-size: 11pt;
}

#footer-copyright {
  background-color: #0F0F0F;
}

#listing article {
  padding-top: 30px;
  padding-bottom: 30px;
}

#content {
  line-height: 1.6;
}

#content h2, #content h3, #content h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

#content a {
  color: #ae995a;
}

#content a:hover {
  text-decoration: underline;
}

#content blockquote {
  border-left: 5px solid;
  border-color: #ccc;
  padding-left: 1rem;
  font-style: italic;
}

#content div.highlight {
  /*max-height: 600px;*/
  font-size: 11pt;
  background-color:#f1f1f1;
  overflow: auto;
  margin: 3rem 0;
}

#content pre {
  margin: 0;
  padding: 1rem;
}

#content code {
  background-color:#f1f1f1;
}

#content ul, #content ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#content p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#content p > img {
  max-width: 100%;
  display: block;
  margin: 3rem auto 3rem auto;
}

#content p.content-highlight {
  color: #ae995a;
  font-size: 18pt;
  text-align: right;
  font-style: italic;
  width: 50%;
  float: right;
}

#content hr {
  margin: 3rem auto 3rem auto;
  border-color: #ccc;
  border-width: 1px;
}

#author-block {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#author-info {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#author-name {
  font-weight: bold;
  font-size: 14pt;
}

#author-story {
  font-size: 11pt;
  font-style: italic;
}

#share a {
  min-width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#share a span {
  display: none;
}



/* Screen > 530px */

@media screen and (min-width: 530px) {

  /*h1 {
    font-size: 24pt;
  }

  article {
    font-size: 14pt;
  }*/

  .adjust-width {
    margin: 0;
  }

  #header-menu ul {
    flex-direction: row;
    margin-top: 18px;
  }

  /*#content p.content-highlight {
    font-size: 22pt;
  }*/

  #share a span {
    display: inline;
  }
}



/* customized */

section#content h1 {
  margin-top:20pt;
  line-height: 3;
}
.yyx-tag-transparent {
  background-color: transparent; 
}
.yyx-text-yellow {
  color: #ae995a;
}
.yyx-btn-hover:hover {
  box-shadow: none;
  opacity: 0.7;
}
.lang-btn {

}
.lang-btn-hover:hover {
  text-decoration: underline;
}
.lang-btn-active {
  text-decoration:line-through;
}
.lang-btn-active:hover {
  text-decoration:line-through;
}
section#content .lang-section {

}
section#content .lang-section-hide {
  display:none;
}
.yyx-external-link {
  font-size: 70% !important;
  vertical-align: text-top;
  margin-left: 1px;
  margin-right: 2px;
}
.w3-pagination li a:hover {
  background-color: transparent;
  opacity: 0.5;
}
#nav-expand-btn {
  line-height: 60px;
  padding: 0 10px;
}
.header-nav-show-small {
  display: block !important;
  margin-top: 70px !important;
}

.index-vertical-center {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 260px;
  margin-top: -180px;
}
.index-vertical-center ul li {
  /*line-height: 30px;*/
  list-style-type: none;
  display: inline;
}

.index-vertical-center #brand {
  color: #000;
  font-size: 10pt;
  margin-top: 10px;
}

/*.index-vertical-center a {
  color: #000;
  font-family: 'Source Code Pro', monospace;
}*/
/*.index-vertical-center a:hover {
  color: #fff;
  padding: 5px 10px;
  background-color: #dbcf7f;
  text-decoration: none;
}*/

#photo-container img {
  max-width: 100%;
  height: auto;
}

#photo-container div.image {
  min-height: 100px;
  min-weight: 100px;
  display: inline-block;
}

#photo-container a img:hover {
  opacity: 1;
}

.image {
  display: inline-block;
}

.image .tint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0,0,0,0.8);
}

.image:hover .tint {
  opacity: 1;
}

.center-logo {
  margin: auto;
}

.image-caption {
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 10pt;
  font-style: italic;
}

/* spinner */
/* enable it by <div class="lds-facebook"><div></div><div></div><div></div></div>*/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #aaa;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
