    {% extends "base.html" %}

    {% block title %}{{ article.title|striptags }} &ndash; {{ SITENAME }}{% endblock %}

    {% block content %}

    <article class="w3-padding-64">
      <header class="w3-container col-main">
        <h1>{{ article.title }}</h1>
        <div class="post-info">
          <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
            <span><time datetime="{{ article.date.isoformat() }}">{{ article.date|strftime("%b %d, %Y") }}</time> @ <a href="{{ SITEURL }}/{{ article.category.url }}" title="All articles in category {{ article.category }}">{{ article.category }}</a></span>
          </div>
          {% if article.tags %}
          <div class="w3-margin-right">
            {% for tag in article.tags %}
            <span class="w3-tag w3-hover-light-grey yyx-text-yellow yyx-tag-transparent">
              <a href="{{ SITEURL }}/{{ tag.url }}" title="All articles with {{ tag.name.title() }} tag">#{{ tag }}</a>
            </span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </header>

      {% if article.headerimage %}
      <div class="headerimage-article">
        <img src="{{ article.headerimage }}" style="width: 100%;">
        {% if article.headerimagecaption %}
          <p class="caption">{{ article.headerimagecaption }}</p>
        {% endif %}
      </div>
      {% endif %}

      <div class="col-main w3-container">
        <section id="content" class="w3-margin-bottom w3-padding-8">
          {{article.content}}
        </section>

        <br>

        <footer>
          <!-- <div class="adjust-width">
            <div id="author-block" class="w3-light-grey w3-border">
              <div id="author-info">
                <a href="{{ AUTHOR_WEB }}"><img style="width: 60px; height: 60px;" src="{{ AUTHOR_AVATAR }}" onerror="this.src='theme/images/avatar.png'" alt="Avatar"></a>
                <div style="margin-left: 20px; margin-top: 15px;">
                  <a href="{{ AUTHOR_WEB }}"><span id="author-name" class="w3-hover-text-dark-grey">{{ article.author }}</span></a>
                  <p id="author-story">{% if article.author==AUTHOR %}{{ AUTHOR_DESCRIPTION }}{% endif %}</p>
                </div>
              </div>
            </div>
          </div>

          <br><br><br> -->

          <p style="font-size:10pt; font-style: italic;">Did you like this article? Share it with your friends!</p>
          <div id="share" class="share">
            <a href="http://www.facebook.com/sharer.php?u={{ (SITEURL + '/' + article.url)|urlencode }}&amp;t={{ (SITENAME + ': ' + article.title)|urlencode }}" target="_blank" class="w3-btn yyx-btn-hover">
              <i class="fa fa-facebook"></i> <!-- <span>Facebook</span> -->
            </a>
            <a href="http://twitter.com/share?url={{ (SITEURL + '/' + article.url)|urlencode }}&amp;text={{ (SITENAME + ': ' + article.title)|urlencode }}" target="_blank" class="w3-btn yyx-btn-hover">
              <i class="fa fa-twitter"></i> <!-- <span>Twitter</span> -->
            </a>
            <a href="https://plus.google.com/share?url={{ (SITEURL + '/' + article.url)|urlencode }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="w3-btn yyx-btn-hover">
              <i class="fa fa-google-plus"></i> <!-- <span>Google</span> -->
            </a>
          </div>

          <br><br><br>

          {% if article.related_posts %}
          <div class="related-posts">
            <h4>Related posts:</h4>
            <ul>
              {% for related_post in article.related_posts %}
              <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          {% if DISQUS_SITENAME %}
          {% include "disqus_script.html" %}
          {% endif %}

        </footer>
      </div>
    </article>

    {% endblock content %}
