<article class="w3-padding-32">
  <div id="photo-container" class="col-main w3-container w3-row-padding w3-margin-top">
  </div>
</article>

<script>
$(document).ready(function(){
  var api = '{{ page.api }}';
  var gallery_data = [];
  var offset = 0;
  var limit = 5;
  var loading = false;

  var load_images = function(){
    loading = true;
    for(var i = offset; i < offset + limit && i < gallery_data.length; i++) {
      console.log(gallery_data[i]);
      $('#photo-container').append(
        '<div class="w3-first w3-center w3-padding-32">\
          <div>\
          <a href="' + gallery_data[i]['link'] + '" title="' + gallery_data[i]['title'] + '">\
          <img src="' + gallery_data[i]['img'] + '" alt="' + gallery_data[i]['title'] + '">\
          </a>\
          <div class="w3-container w3-margin-bottom">\
          <p>' + gallery_data[i]['title'] + '</p>\
          </div>\
          </div>\
        </div>'
      );
    }
    offset = offset + limit;
    loading = false;
  }

  $.get(api, function(data) {
    // console.log(data);
    gallery_data = data;
    load_images();
  });

  $(window).scroll(function() {
    var position = $(window).scrollTop();
    var bottom = $(document).height() - $(window).height();

    if(position == bottom){
      // console.log("loading...");
      load_images();
    }

  });
});
</script>